@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  
  body {
    place-items: center;


  }
  #app {
    text-align: center;        /* จัดข้อความให้อยู่กึ่งกลาง */
    max-width: 1200px;         /* กำหนดความกว้างสูงสุดของเนื้อหา */
    margin: 0 auto;            /* จัดให้อยู่ตรงกลางของหน้าจอ */
  }
  
  /* สไตล์สำหรับหัวข้อหลัก */
  h1 {
    color: #585353;
  }